/*
    Author: Nikita Sasunkevich
*/

body {
    background: url("../images/background.png");
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* HEADER STYLES */

header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    position: relative;
}

.logo {
    padding: 25px;
    margin: 0;
    float: left;
    background-color: #4aaaa5;
    color: #fff;
}

.navbar {
    width: 960px;
    margin: 0 auto;
}

.navbar-nav {
    list-style-type: none;
    float: right;
    margin-top: 32px;
}

.navbar-nav li {
    display: inline;
    padding: 0 20px;
    border-right: 1px solid #EBEBEB;
}

.navbar-nav li a {
    text-decoration: none;
    color: #a3adb5;
}

.navbar-nav li:last-child {
    padding-right: 0;
    border-right: none;
}

/* HEADER STYLES END */

/* HEADING STYLES */

h1, h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

h1 {
    font-size: 28px;
    margin-bottom: 25px;
}

h2 {
    font-size:  24px;
    margin-bottom: 15px;
}

/* HEADING STYLES END */

/* CONTENT STYLES */

.content-area {
    width: 960px;
    margin: 40px auto;
    position: relative;
    overflow: auto;
    min-height: calc(100vh - 215px);
}

.main-content {
    background: #fff;
    padding: 20px;
    width: 608px;
    border: 1px solid #dddddd;
    float: left;
}

.content {
    border-top: 2px solid #cccccc;
    padding-top: 25px;
}

#about-me-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.content p {
    line-height: 2;
    margin-bottom: 25px;
    position: relative;
    top: -10px;
}

.content p:last-child {
    margin-bottom: 0;
}

.sidebar {
    background: #fff;
    padding: 20px;
    width: 228px;
    border: 1px solid #dddddd;
    float: right;
}

.sidebar-content {
    border-top: 2px solid #cccccc;
    padding-top: 15px;
    text-align: center;
}

.sidebar-content a {
    text-decoration: none;
    padding-right: 10px;
}

.sidebar-content a:last-child {
    padding-right: 0;
}

.form-group {
    padding-bottom: 10px;
}

.card {
    width: 285px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left;
    margin-bottom: 30px;
    position: relative;
}

.card:nth-child(even) {
    float: right;
}

.card img {
    width: 285px;
    height: 200px;
}

.card-banner {
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* CONTENT STYLES END */

/* FOOTER STYLES */

footer {
    background: #666666;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    color: #c5c5c5;
    font-size: 12px;
}

/* FOOTER STYLES END */

/* INPUT STYLES */

input[type=text],
textarea {
    width: 100%;
    padding: 12px 6px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    font-size: 14px;
}

.btn {
    -webkit-appearance: none;
    background: #4aaaa5;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    color: #cccccc;
    font-style: italic;
}

/* INPUT STYLES END */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* MEDIA QUERIES */

@media screen and (max-width: 980px) {
    .navbar {
      width: 800px;
    }

    .content-area {
        width: 800px;
    }

    .main-content {
        width: 451px;
    }

    #about-me-img {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    .sidebar {
        width: 225px;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .card:nth-child(even) {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 720px;
    }

    .content-area {
        width: 720px;
    }

    .main-content {
        float: none;
        width: auto;
        margin-bottom: 40px;
    }

    #about-me-img {
        width: 200px;
        height: 200px;
        float: left;
        margin-right: 20px;
    }

    .sidebar {
        float: none;
        width: auto;
    }

    .sidebar-content {
        text-align: left;
    }

    .card {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }

    .card:nth-child(even) {
        float: right;
    }

    .content {
        overflow: auto;
    }
}

@media screen and (max-width: 640px) {
    /* The body's bg color will be #333 */
    header {
        position: static;
        width: 640px;
    }

    .navbar {
        width: 640px;
    }

    .content-area {
        width: 610px;
    }

    .logo {
        float: none;
        text-align: center;
    }

    #about-me-img {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        margin-right: 0;
    }

    .navbar-nav {
        float: none;
        margin-top: 0px;
        padding: 0;
        text-align: center;
    }

    .navbar-nav li {
        float: left;
        margin: 0;
        padding: 20px 0;
        width: 33%;
        border: none;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .card:nth-child(even) {
        float: none;
    }
}

/* MEDIA QUERIES END */